{
    "extends": "airbnb-base",
    /* Overrides */
    "env": {
        "jasmine": true
    },
    "globals": {
        "atom": true,
        "waitsForPromise": true
    },
    "rules": {
          "indent": [2, 4, {"SwitchCase": 1}],
          "quotes": [2, "double"],
          "no-unused-expressions": [2, {"allowShortCircuit": true}]
      },
}
